{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/tech.ico' %}" alt="">
    </div>

    {% include 'partials/_busca.html' %}
    {% include 'partials/_menu.html' %}

    <div class="contact-area section-padding-0-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Olá, {{ user.username }} seja bem-vindo a GuiTech</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            <!-- adicionando dinamicamente algum novo produto com python-->
            {% if produtos %}
            {% for produto in produtos %}
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    {% if produto.foto_produto == '' %}
                        <img src="{% static 'img/bg-img/bannerTech.jpeg' %}" alt="">
                    {% else %}
                        <img src="{{ produto.foto_produto.url }}" alt="">
                    {% endif %}
                        <div class="receipe-content">
                        <a href="{% url 'produto' produto.id %}">
                        <h5>{{ produto.nome_produto }}</h5>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>

    {% include 'partials/_footer.html' %}
{% endblock %}